<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QOMPLX Assignment</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/mainpage.css" rel="stylesheet">
  </head>

  <body ng-controller="apiController">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand center">QOMPLX Assignment</span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      </div>
    </nav>

    <!-- Sample Content. You can either use this or make your own -->
    <div class="container main-container">
      <div class="jumbotron">
         <div class="input-container">
          <div class="h5">Coronavirus Data Retrieval <button id="submitDataBtn" class="submit-btn" ng-click="getData()">Fetch Data</button></div>
          <br>          
          <div class="h7">This application takes data from a free api that tracks coronavirus data for countries around the world, 
          featuring the most recent cases/deaths/testing updates </div>
          <br>
          <div class="h7">To use, simply press the "Fetch Data" button to call the information from the api. <br> After receiving this information, 
           enter text into the search bar and hit "search" to filter the results, matching any country that starts with the characters you entered</div>
          
        </div>
        <div class="input-container">
          <br>
          <div class="h6">Data Search</div>
          <input type="text" ng-model="dataSearch" placeholder="Enter information" id="dataSearch" class="data-input"/>
          <button id="submitDataBtn" class="submit-btn" ng-click="search()">Search</button>
        </div>
        <div class="data-container">
          <div class="h6">Available Data</div>
          <div class="data">
            <div class="header"><strong>Country/Continent</strong></div>
            <div class="header"><strong>Population</strong></div>
            <div class="header"><strong>Total Cases</strong></div>
            <div class="header"><strong>Total Tests</strong></div>
          </div>
          <div class="data" id="results" ng-repeat="data in totalData">
            <div class="title">{{data.country}}</div>
            <div class="rating">{{data.population}}</div>
            <div class="id">{{data.cases.total}}</div>
            <div class="vote-count">{{data.tests.total}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
